.language {
  transition: all 0.3s ease-out;
}

body {
  font-family: "Inter", Verdana, sans-serif;
}

html {
  height: 100%;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
body.lock {
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 1220px) {
  h1 {
    font-size: 4.2rem;
    line-height: 5rem;
    font-weight: 600;
    font-style: normal;
  }
}
@media (max-width: 990px) {
  h1 {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 600;
    font-style: normal;
  }
}
@media (max-width: 735px) {
  h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 600;
    font-style: normal;
  }
}

h2 {
  margin: 0;
  color: #1D1D1D;
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
@media (max-width: 1220px) {
  h2 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    font-style: normal;
  }
}
@media (max-width: 990px) {
  h2 {
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 600;
    font-style: normal;
  }
}
@media (max-width: 735px) {
  h2 {
    font-size: 2.2rem;
    line-height: 2rem;
    font-weight: 600;
    font-style: normal;
  }
}

h3 {
  display: inline;
  margin: 0 20px 0;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 600;
  font-style: normal;
}
@media (max-width: 1220px) {
  h3 {
    font-size: 2.2rem;
    line-height: 2.4rem;
    font-weight: 600;
    font-style: normal;
  }
}
@media (max-width: 1124px) {
  h3 {
    font-size: 2rem;
    line-height: 2.1rem;
    font-weight: 600;
    font-style: normal;
    margin: 0 10px 0;
  }
}
@media (max-width: 990px) {
  h3 {
    font-size: 1.9rem;
    line-height: 2rem;
    font-weight: 600;
    font-style: normal;
  }
}
@media (max-width: 735px) {
  h3 {
    font-size: 1.85rem;
    line-height: 2rem;
    font-weight: 600;
    font-style: normal;
  }
}

p {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main {
  flex: 1;
}

.logo {
  width: 275px;
  height: 164px;
  background-image: url(../assets/images/logo.jpg);
  background-position: center;
  background-size: cover;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}
@media (max-width: 990px) {
  .logo {
    width: 250px;
  }
}

.logo__text {
  margin-top: 130px;
  text-align: center;
  vertical-align: bottom;
  font-size: 2.2rem;
  line-height: 2.6rem;
  font-weight: 700;
  font-style: normal;
  color: #FEFEFE;
  letter-spacing: 0.05em;
}
@media (max-width: 990px) {
  .logo__text {
    font-size: 2rem;
    line-height: 2.2rem;
    font-weight: 700;
    font-style: normal;
    margin-top: 130px;
  }
}

.contact {
  display: flex;
  align-items: center;
  border: 1px solid #888888;
  border-radius: 20px;
  padding: 8px 10px;
  color: #FEFEFE;
}
.contact:hover {
  background: rgba(88, 88, 88, 0.4);
}
.contact:hover .contacts__number {
  color: #ee8c2a;
}
.contact:hover .contacts__image {
  background: #ee8c2a;
}
@media (max-width: 990px) {
  .contact {
    width: 222px;
    padding: 5px 10px;
  }
}
@media (max-width: 735px) {
  .contact {
    width: 230px;
    padding: 8px 15px;
  }
}

.contact-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
  list-style: none;
  color: #FEFEFE;
}
.contact-footer:hover .contacts__name {
  color: #ee8c2a;
}
.contact-footer:hover .contacts__image {
  background: #ee8c2a;
}
@media (max-width: 1220px) {
  .contact-footer {
    margin: 0 auto 0 0;
  }
}
@media (max-width: 735px) {
  .contact-footer {
    padding-bottom: 10px;
  }
}

.contact__link {
  cursor: pointer;
}

.contacts__image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 35px;
  height: 35px;
  background: #EAEAEA;
  border-radius: 50px;
}

.image {
  width: 20px;
  height: 20px;
}

.contacts__content {
  margin-left: 10px;
  text-align: center;
}

.content-footer {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
}

.contacts__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 990px) {
  .contacts__text {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}

.contacts__number {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 500;
  font-style: normal;
}
@media (max-width: 990px) {
  .contacts__number {
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
    font-style: normal;
  }
}

.contacts__name {
  width: 142px;
  margin-left: 10px;
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1220px) {
  .contacts__name {
    font-size: 1.6rem;
    line-height: 1.6rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 990px) {
  .contacts__name {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 735px) {
  .contacts__name {
    width: auto;
  }
}

.wrapper {
  max-width: 1220px;
  margin: auto;
}
@media (max-width: 1220px) {
  .wrapper {
    padding: 0 50px;
  }
}
@media (max-width: 735px) {
  .wrapper {
    padding: 0 25px;
  }
}

.header {
  flex: 0;
  background: #000000;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.header__wrapper {
  position: relative;
  align-items: center;
  padding: 25px 0;
}
@media (max-width: 1220px) {
  .header__wrapper {
    padding: 25px 50px;
  }
}
@media (max-width: 735px) {
  .header__wrapper {
    padding: 10px 25px 25px;
    align-items: flex-end;
    flex-direction: column-reverse;
    gap: 120px;
  }
}

.header__logo {
  position: absolute;
  top: -17px;
  z-index: 1;
}
@media (max-width: 1220px) {
  .header__logo {
    top: -10px;
    left: 22px;
  }
}
@media (max-width: 735px) {
  .header__logo {
    left: calc((100% - 250px) / 2);
  }
}

.header__language {
  max-width: 5%;
  font-size: 1.6rem;
  line-height: 3.4rem;
  font-weight: 700;
  font-style: normal;
  color: #D6D6D6;
  text-align: end;
}
@media (max-width: 735px) {
  .header__language {
    max-width: 100%;
    z-index: 1;
  }
}

.language {
  margin-left: 10px;
  cursor: pointer;
}
.language_aktive {
  border-bottom: 1px solid #888888;
}
.language:hover {
  color: #ee8c2a;
  border-bottom: 1px solid #ee8c2a;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
}

.header__contacts {
  min-width: 85%;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
@media (max-width: 1124px) {
  .header__contacts {
    min-width: 90%;
  }
}
@media (max-width: 990px) {
  .header__contacts {
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    min-width: 67%;
    padding-left: 225px;
  }
}
@media (max-width: 735px) {
  .header__contacts {
    align-items: center;
    padding-left: 0;
  }
}

.footer {
  flex: 0;
  background: #000000;
}

.footer__wrapper {
  position: relative;
  justify-content: flex-end;
  padding: 40px 0;
}
@media (max-width: 1220px) {
  .footer__wrapper {
    padding: 40px 50px;
  }
}
@media (max-width: 1124px) {
  .footer__wrapper {
    padding: 35px 50px;
  }
}
@media (max-width: 990px) {
  .footer__wrapper {
    padding: 28px 50px;
  }
}
@media (max-width: 735px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 15px;
    padding: 28px 25px;
  }
}
@media (max-width: 350px) {
  .footer__wrapper {
    padding: 20px 25px;
  }
}

.footer__logo {
  position: absolute;
  top: 4px;
  left: -30px;
}
@media (max-width: 1220px) {
  .footer__logo {
    left: 20px;
  }
}
@media (max-width: 990px) {
  .footer__logo {
    left: 22px;
  }
}
@media (max-width: 735px) {
  .footer__logo {
    top: 0;
    left: 17px;
    width: 170px;
    height: 130px;
  }
}

@media (max-width: 735px) {
  .footer__logo-text {
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;
    font-style: normal;
    margin-top: 100px;
  }
}

.requisites {
  min-width: 80%;
  padding-left: 446px;
}
@media (max-width: 1220px) {
  .requisites {
    padding-left: 395px;
  }
}
@media (max-width: 1124px) {
  .requisites {
    padding-left: 325px;
  }
}
@media (max-width: 990px) {
  .requisites {
    min-width: 65%;
    padding-left: 235px;
  }
}
@media (max-width: 735px) {
  .requisites {
    padding-left: 54%;
    z-index: 1;
  }
}
@media (max-width: 380px) {
  .requisites {
    padding-left: 53%;
  }
}
@media (max-width: 350px) {
  .requisites {
    padding-left: 0%;
    padding-top: 39%;
  }
}

.requisites__data {
  margin-bottom: 10px;
  color: #FEFEFE;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1220px) {
  .requisites__data {
    font-size: 1.4rem;
    line-height: 2.1rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 990px) {
  .requisites__data {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 735px) {
  .requisites__data {
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 8px;
  }
}
@media (max-width: 380px) {
  .requisites__data {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5px;
  }
}

.footer__contacts {
  max-width: 20%;
  margin: 0;
  padding-left: 0;
}
@media (max-width: 990px) {
  .footer__contacts {
    min-width: 25.4%;
  }
}
@media (max-width: 735px) {
  .footer__contacts {
    display: flex;
    gap: 40%;
    min-width: 0;
    z-index: 1;
  }
}
@media (max-width: 350px) {
  .footer__contacts {
    flex-wrap: wrap;
    gap: 8px;
  }
}

.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-2-column > * {
  flex-basis: 50%;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-3-column > * {
  flex-basis: 33.1%;
}

.layout-4-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.layout-4-column > * {
  flex-basis: 23%;
}

.services {
  position: relative;
  margin: 4px auto 0 auto;
}
.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/pasted.jpg);
  background-size: cover;
  filter: blur(4px);
}
@media (max-width: 735px) {
  .services::before {
    background-position: center;
  }
}

.services__wrapper {
  height: 625px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1124px) {
  .services__wrapper {
    height: 615px;
  }
}
@media (max-width: 990px) {
  .services__wrapper {
    height: 495px;
  }
}
@media (max-width: 735px) {
  .services__wrapper {
    height: 100%;
  }
}

.services__text {
  max-width: 680px;
  margin: 155px 0 0 30px;
  padding: 20px 40px;
  color: #1D1D1D;
}
@media (max-width: 1124px) {
  .services__text {
    margin: 140px 0 0 16px;
    padding: 20px 0;
  }
}
@media (max-width: 990px) {
  .services__text {
    margin: 95px 0 0;
  }
}
@media (max-width: 990px) {
  .services__text {
    margin: 20px 0 0;
  }
}

.services__title {
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #1D1D1D, 0 0 1em #D6D6D6, 0 0 0.2em #FEFEFE;
}
@media (max-width: 735px) {
  .services__title {
    text-align: center;
  }
}

.services__description {
  padding-top: 14px;
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: 500;
  font-style: normal;
}
@media (max-width: 990px) {
  .services__description {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    font-style: normal;
  }
}

@media (max-width: 990px) {
  .services__content {
    display: none;
  }
}

.services__content-small {
  display: none;
}
@media (max-width: 990px) {
  .services__content-small {
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 735px) {
  .services__content-small {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

.company {
  background: #EAEAEA;
}

.company__wrapper {
  padding-bottom: 120px;
}
@media (max-width: 1124px) {
  .company__wrapper {
    padding-bottom: 100px;
  }
}
@media (max-width: 990px) {
  .company__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 735px) {
  .company__wrapper {
    padding-bottom: 80px;
  }
}

.company__title {
  padding: 150px 0 40px;
}
@media (max-width: 1124px) {
  .company__title {
    padding: 110px 0 27px;
  }
}
@media (max-width: 990px) {
  .company__title {
    padding: 100px 0 27px;
    text-align: center;
  }
}
@media (max-width: 990px) {
  .company__title {
    padding: 80px 0 22px;
  }
}

.company__info {
  color: #1D1D1D;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 400;
  font-style: normal;
}
@media (max-width: 1124px) {
  .company__info {
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 990px) {
  .company__info {
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 400;
    font-style: normal;
  }
}
@media (max-width: 735px) {
  .company__info {
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 400;
    font-style: normal;
  }
}

.info__wrapper {
  padding-right: 75px;
}
@media (max-width: 1220px) {
  .info__wrapper {
    padding-right: 30px;
  }
}
@media (max-width: 1124px) {
  .info__wrapper {
    padding-right: 53px;
  }
}
@media (max-width: 990px) {
  .info__wrapper {
    padding-right: 0;
  }
}
@media (max-width: 735px) {
  .info__wrapper {
    max-width: 100%;
  }
}

.info-summarizing {
  padding: 15px 0 80px;
}
@media (max-width: 990px) {
  .info-summarizing {
    padding: 15px 0 40px;
  }
}

.company__image {
  max-width: 589px;
  height: 390px;
  margin-top: 5px;
  background-image: url(../assets/images/boxes-minibus.png);
  background-size: cover;
  background-position: center;
}
@media (max-width: 990px) {
  .company__image {
    width: 560px;
    height: 310px;
    flex-basis: auto;
    margin: 0 auto;
    background-position: bottom;
    border-radius: 5px;
  }
}
@media (max-width: 735px) {
  .company__image {
    height: 230px;
    max-width: 100%;
  }
}
@media (max-width: 380px) {
  .company__image {
    height: 200px;
  }
}

.geography {
  position: relative;
  background-image: url(../assets/images/map.jpg);
  background-size: cover;
}
.geography::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.65);
}

.geography__wrapper {
  position: relative;
  padding: 60px 0 160px 0;
}
@media (max-width: 1220px) {
  .geography__wrapper {
    padding: 60px 50px 160px;
  }
}
@media (max-width: 1124px) {
  .geography__wrapper {
    padding-top: 40px;
  }
}
@media (max-width: 990px) {
  .geography__wrapper {
    padding-bottom: 120px;
  }
}
@media (max-width: 735px) {
  .geography__wrapper {
    padding: 30px 25px 70px;
  }
}

.geography__title {
  text-align: center;
  padding-bottom: 40px;
}
@media (max-width: 1124px) {
  .geography__title {
    padding-bottom: 25px;
  }
}
@media (max-width: 380px) {
  .geography__title {
    padding-bottom: 17px;
  }
}

.geography__content {
  max-width: 85%;
  margin: 0 auto;
}
@media (max-width: 380px) {
  .geography__content {
    max-width: 100%;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 40px 20px 5px;
  background: rgba(255, 255, 255, 0.6);
  color: #1D1D1D;
}
@media (max-width: 1124px) {
  .item {
    padding: 35px 15px 5px;
  }
}
@media (max-width: 990px) {
  .item {
    padding: 30px 20px 10px;
  }
}
@media (max-width: 735px) {
  .item {
    margin: 0 auto;
    padding: 22px 20px 10px;
    width: 80%;
    background: rgba(255, 255, 255, 0.7);
  }
}
@media (max-width: 380px) {
  .item {
    padding: 22px 20px 10px;
    width: 90%;
  }
}
.item_content {
  background: #FEFEFE;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 40px;
}
@media (max-width: 1124px) {
  .item_content {
    padding: 15px 15px 30px;
  }
}
@media (max-width: 990px) {
  .item_content {
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 40px 20px;
  }
}
@media (max-width: 735px) {
  .item_content {
    margin: 0 auto;
  }
}

@media (max-width: 990px) {
  .item-tablet-mobile {
    flex-basis: 44%;
  }
}
@media (max-width: 735px) {
  .item-tablet-mobile {
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.7);
  }
}

.item__advantages-mobile {
  margin-top: 0;
}

@media (max-width: 735px) {
  .item-none {
    display: none;
  }
}

.item-mobile {
  display: none;
}
@media (max-width: 735px) {
  .item-mobile {
    display: flex;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.6);
  }
}

.item__services {
  position: relative;
  margin-right: 30px;
}

.item__image-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background: #FFFFFF;
  border-radius: 50px;
}
@media (max-width: 735px) {
  .item__image-background {
    min-width: 50px;
    width: 50px;
    height: 50px;
  }
}

.item__image {
  width: 35px;
  height: 35px;
}
@media (max-width: 735px) {
  .item__image {
    width: 30px;
    height: 30px;
  }
}

.item__image-like {
  width: 50px;
  height: 50px;
}

.item__arrow {
  position: absolute;
  right: -20px;
  bottom: 20px;
  width: 35px;
}
@media (max-width: 1124px) {
  .item__arrow {
    right: -16px;
    bottom: 12px;
  }
}
.item__arrow_company {
  top: 25px;
}
@media (max-width: 1124px) {
  .item__arrow_company {
    top: 19px;
  }
}

.item__text {
  max-width: 100px;
}
@media (max-width: 1220px) {
  .item__text {
    max-width: 85px;
  }
}
.item__text_services {
  line-height: 3rem;
}
@media (max-width: 1220px) {
  .item__text_services {
    line-height: 2.5rem;
  }
}
@media (max-width: 990px) {
  .item__text {
    max-width: 100%;
  }
}

.content__text {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}
@media (max-width: 1124px) {
  .content__text {
    font-size: 1.9rem;
    line-height: 2rem;
    font-weight: 500;
    font-style: italic;
  }
}
@media (max-width: 990px) {
  .content__text {
    padding-bottom: 12px;
    text-align: start;
  }
}
@media (max-width: 735px) {
  .content__text {
    font-size: 1.85rem;
    line-height: 2rem;
    font-weight: 500;
    font-style: italic;
  }
}
.content__text_company {
  text-transform: uppercase;
  line-height: 2.6rem;
  font-style: normal;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  margin-bottom: 3px;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1124px) {
  .card {
    margin-bottom: 2px;
  }
}
@media (max-width: 990px) {
  .card {
    height: 160px;
  }
}
@media (max-width: 735px) {
  .card {
    height: 130px;
    flex-basis: 49.6%;
  }
}
@media (max-width: 735px) {
  .card {
    height: 110px;
  }
}
.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.card_germany {
  background-image: url(../assets/images/Germany.jpg);
}
.card_france {
  background-image: url(../assets/images/France.jpg);
}
.card_czech {
  background-image: url(../assets/images/Czech.jpg);
}
.card_belgium {
  background-image: url(../assets/images/Belgium.jpg);
}
.card_netherlands {
  background-image: url(../assets/images/Netherlands.jpg);
}
.card_spain {
  background-image: url(../assets/images/Spain.jpg);
  background-position: bottom;
}
.card_portugal {
  background-image: url(../assets/images/Portugal.jpg);
}
.card_italy {
  background-image: url(../assets/images/Italy.jpg);
}
.card_greece {
  background-image: url(../assets/images/Greece.jpg);
}
@media (max-width: 735px) {
  .card_greece {
    display: none;
  }
}

.card__text {
  position: relative;
  font-size: 2.6rem;
  line-height: 2.6rem;
  font-weight: 700;
  font-style: normal;
  color: #FEFEFE;
  letter-spacing: 0.05em;
}
@media (max-width: 990px) {
  .card__text {
    font-size: 2.4rem;
  }
}
@media (max-width: 735px) {
  .card__text {
    font-size: 1.9rem;
  }
}
@media (max-width: 380px) {
  .card__text {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=style.css.map */
