$color-primary: #ee8c2a;
$color-additional: #1D1D1D;
$color-background: #EAEAEA;
$color-background-additional: #E0DFDF;
$color-text: #FEFEFE;
$color-complimentary: #D6D6D6;
$color-heading: #717171;
$color-border: #888888;;
$color-white: #FFFFFF;
$color-black: #000000;

$content-width: 1220px;
$laptop-width: 1124px;
$tablet-width: 990px;
$mobile-width: 735px;
$mobile-small-width: 380px;