$color-primary: #ee8c2a;
$color-additional: #1D1D1D;
$color-background: #EAEAEA;
$color-text: #FEFEFE;
$color-complimentary: #D6D6D6;
$color-heading: #717171;
$color-border: #888888;;
$color-white: #FFFFFF;
$color-black: #000000;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 650px;