.company {
    background: $color-background;
}

.company__wrapper {
    padding-bottom: 120px;
}

.company__title {
    padding: 150px 0 40px;
}

.company__info {
    color: $color-additional;
    @include font(2rem, 2.5rem)

}

.info__wrapper {
    padding-right: 75px;
}

.info-summarizing {
    padding: 15px 0 80px;
}

.company__image {
    max-width: 589px;
    height: 390px;
    margin-top: 5px;
    background-image: url(../assets/images/boxes-minibus.png);
    background-size: cover;
    background-position: center;
}



