.item {
    display: flex;
    align-items: center;
    padding: 40px 20px 5px;
    background: rgba(255, 255, 255, 0.6);
    color: $color-additional;
    @include media-laptop-small {
        padding: 35px 15px 5px;
    }
    @include media-tablet {
        padding: 30px 20px 10px;
    }
    @include media-mobile {
        margin: 0 auto;
        padding: 20px 20px 10px;
        width: 80%;
        background: rgba(255, 255, 255, 0.7);
    }
    @include media-mobile-small {
        width: 90%;
    }
    &_content {
        background: $color-text;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 40px;
        @include media-laptop-small {
            padding: 15px 15px 30px;
        }
        @include media-tablet {
            margin: 0;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 15px 40px 20px;
        }
        @include media-mobile {
            margin: 0 auto;
        }
    }
}

.item-tablet-mobile {
    @include media-tablet {
        flex-basis: 44%;
        list-style-type: circle;
    }
    @include media-mobile {
        margin-top: 40px;
        background: rgba(255, 255, 255, 0.7);
    }
}

.item__advantages-mobile {
    margin-top: 0;
}

.item-none {
    @include media-mobile {
        display: none;
    }
}

.item-mobile {
    display: none;
    @include media-mobile {
        display: flex;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.6);
    }
}

.item__services{
    position: relative;
    margin-right: 30px;
}

.item__image-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background: $color-white;
    border-radius: 50px;
    @include media-mobile {
        min-width: 45px;
        width: 45px;
        height: 45px;
    }
}

.item__image {
    width: 35px;
    height: 35px;
    @include media-mobile {
        width: 27px;
        height: 27px;
    }
}

.item__image-like {
    width: 50px;
    height: 50px;
    @include media-mobile {
        width: 40px;
        height: 40px;
    }
}

.item__arrow {
    position: absolute;
    right: -20px;
    bottom: 20px;
    width: 35px;
    @include media-laptop-small {
        right: -16px;
        bottom: 12px;
        }
    &_company {
        top: 25px;
        @include media-laptop-small {
            top: 19px;
        }
    }
}

.item__text {
    display: inline;
    margin: 0 20px 0;
    @include font(2.6rem, 2.6rem, 600);
    max-width: 100px;
    @include media-laptop {
        max-width: 85px;
        @include font(2.2rem, 2.4rem, 600);
    }
    @include media-laptop-small {
        @include font(2rem, 2.1rem, 600);
        margin: 0 10px 0;
    }
    @include media-tablet {
        max-width: 100%;
        @include font(1.9rem, 2rem, 600);
    }
    @include media-mobile {
        @include font(1.85rem, 2rem, 600);
    }
    &_services {
        text-transform: uppercase;
        line-height: 3rem;
        @include media-laptop {
            line-height: 2.5rem;
        }
    }
}

.item__text-pl {
    margin: 0 10px 0;
    @include font(2.45rem, 2.8rem, 600);
    @include media-laptop {
        @include font(2rem, 2.4rem, 600);
    }
    @include media-laptop-small {
        margin: 0 6.5px 0;
        @include font(1.85rem, 2.2rem, 600);
    }
}

.content__text {
    @include font(2rem, 2.2rem, 500, italic);
    text-align: center;
    @include media-laptop-small {
        @include font(1.9rem, 2rem, 500, italic);
    }
    @include media-tablet {
        padding-bottom: 12px;
        text-align: start;
    }
    @include media-mobile {
        @include font(1.85rem, 2rem, 500, italic);
    }
    &_company {
        text-transform: uppercase;
        line-height: 2.6rem;
        font-style: normal;
    }
}

