.contact {
    display: flex;
    align-items: center;
    border: 1px solid $color-border;
    border-radius: 20px;
    padding: 8px 10px;
    color: $color-text; 
    &:hover {
        background: rgba(88, 88, 88, 0.4);
        .contacts__number {
            color: $color-primary;
        }
        .contacts__image {
            background: $color-primary; 
        }
    }
    @include media-tablet {
        width: 222px;
        padding: 5px 10px;
    }
    @include media-mobile {
        width: 229px;
        padding: 8px 15px;
    }
}

.contact-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
    list-style: none;
    color: $color-text; 
    &:hover {
        .contacts__name {
            color: $color-primary;
        }
        .contacts__image {
            background: $color-primary; 
        }
    }
    @include media-laptop {
        margin: 0 auto 0 0;
    }
    @include media-mobile{
        padding-bottom: 10px;
    }
}

.contact__link {
    cursor: pointer;
}

.contacts__image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    background: $color-background;
    border-radius: 50px;
}

.image {
    width: 20px;
    height: 20px;
}

.contacts__content {
    margin-left: 10px;
    text-align: center;
}

.content-footer {
    @include font(1.6rem, 2.2rem);
}

.contacts__text {
    @include font(1.6rem, 2.4rem);
    @include media-tablet {
        @include font(1.4rem, 2rem);
    }
}

.contacts__number {
    @include font(1.8rem, 2.2rem, 500);
    @include media-tablet {
        @include font(1.6rem, 2rem, 500);
    }
}

.contacts__name {
    width: 142px;
    margin-left: 10px;
    @include font(1.7rem);
    @include media-laptop {
        @include font();
    }
    @include media-tablet {
        @include font(1.5rem);
    }
    @include media-mobile {
        width: auto;
    }
}
