.footer {
    flex: 0;
    background: $color-black;
}

.footer__wrapper {
    position: relative;
    justify-content: flex-end;
    padding: 40px 0;
}

.footer__logo{
    position: absolute;
    top: 0;
    left: -30px;
}

.requisites {
    min-width: 80%;
    padding-left: 446px;
}

.requisites__data {
    margin-bottom: 10px;
    color: $color-text;
    text-transform: uppercase;
    @include font(1.5rem, 2.2rem)
}

.footer__contacts {
    max-width: 20%;
    margin: 0;
}